################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/client/Debug
/client/GeneratedFiles
/ltp/.vs/ltp/v16
/ltp/ipch/ltpclient-4f12d635
/ltp/Win32/Debug
